* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: 'TimesNew Roman', sans-serif, Arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    padding: 20px 35px;
    background-color: black;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    color: blueviolet;
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: blueviolet;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 25px;
}
#me {
    background-color: slategray;
    height: 600px;
}
#me-form {
    border: 3px solid white;
    color: blueviolet;
    background-color: black;
    padding: 20px;
    width: 400px;
    position: absolute;
    bottom: 120px;
    right: 140px;
}
img {
    border: 6px solid black;
    position: absolute;
    bottom: 3px;
    left: 120px;
}
#back {
    background-color: black;
}
#projects {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: slategray;
    border: 4px solid black;
}
#projects h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 0 5px 10px;
    color: blueviolet;
    background-color: black;
    border: 3px solid black;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.flex-item {
    width: 45%;
    border-radius: 14px;
    border: 4px solid black;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}
.flex-item span {
    margin-top: auto;
    width: 100%;
    background-color: black;
    color: blueviolet;
    margin-top: auto;
    text-align: center;
}
#contact {
    background-color: slategray;
    color: black;
    padding: 20px 35px;
    display: inline;
}
#contact h4 {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    display: inline;
    text-decoration: underline;
}
#contact ul {
    float: right;
    display: inline;
    margin: 0 15px;
}
#contact ul li {
    display: inline;
    justify-content: space-between;
    font-size: 22px;
    margin: 0 15px;
}
.flex-item1 {
    width: 100%;
    border-radius: 14px;
    border: 4px solid black;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}
.flex-item1 span {
    margin-top: auto;
    width: 100%;
    background-color: black;
    color: blueviolet;
    margin-top: auto;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    body {
        background-color: slategray;
    }
    #me {
        width: 100%;
        padding: 80px;
        margin: 30px 45px;
    }
    #me-form {
        right: 20px;
    }
    img {
        top: 160px;
        left: 20px;
    }
    #contact {
        right: 3px;
        display: inline;
    }
    #contact h4 {
        font-size: 30px;
        display: inline;
    }
    #contact ul li {
        font-size: 16px;
        display: inline;
        margin: 0 12px;
    }



}
